<h1>One Prayers, Two Prayers</h1>

  <table class='table table-striped table-bordered'>
    <thead>
      <tr>
        <th>Here's a Prayer!</th>
     </tr>
    </thead>
    <tbody>

        {{> addPrayer}}
  <tr>
<td><form action="" method="post">
<input type='text' name='Prayer' placeholder=' Add your prayer'><button type='submit'>Add</button> 
</form></td>
</tr>
</tbody>
  </table>