<h1><%= name %></h1>

<h2>Share your own</h2>
<ul>
<% vegetables.forEach(function(vegetable){ %>
  <li><%= vegetables %></li>
<% }) %>
</ul>

<h2>Fruits</h2>
<p><%= fruits %></p>

<a href="/vegetables">Return to the seasonal yummy</a>